.libs/
autom4te.cache/
aclocal.m4
config.log
config.status
config.sub
configure
config.guess
libtool
ltmain.sh
Makefile
*.la
*.lo
*.o

demo
demo-async
demo-glib
man/termkey_getkey.3
man/termkey_waitkey.3
termkey.h
